
/*
blog
*/


.nav-blog{
    padding: 3rem;
    display: flex;
    place-content: center;
    background-color: var(--negro);
}

.nav-blog a {
    text-decoration: none;
    color: var(--azulfuentes);
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: bold;
}

.main-blog {
    padding: 4rem;
}

.blog-html {
    text-align: center;
    display: flex;
    flex-direction: column;
    place-items: center;
    place-content: center;
    gap: 3rem;

}

.blog-html h1{
    text-align: center;
}

.blog-html-container {
    display: grid; 
    grid-template-columns: repeat(10, 1fr);
    gap: 2rem;
    place-content: center;

    @include tablet {
        
        display: flex;
        flex-direction: column;
            
        
    }
    
}

.blog-html-container img{
    grid-column: 1 / 5;
}

.blog-html-container p{
    grid-column: 5 / 11;
    text-align: justify;
}

.blog-html-schooll {
    text-align: center;
}

.blog-html-schooll p{
    color: var(--AzulOscuro);
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 1.5rem;
}


