@import url('https://fonts.googleapis.com/css2?family=Island+Moments&family=MonteCarlo&family=Philosopher&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');



$FontInitPhilosopher: 'Philosopher', sans-serif;
$FontMonteCarlo: 'MonteCarlo', cursive;
$FontLora: 'Lora', serif;
    
$negro: #000000;
$blanco: #ffffff;
$AzulOscuro: #12131d;
$azulfuentes: rgb(0, 255, 213);


$telefono: 480px;
$tablet: 768px;
$tabletPro: 1024px;